.header {
  background-color: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;

}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-list li a:hover {
  color: #13045a;
}
